/* 카테고리 */
.container {
  position: relative;
}

.container .main__container .main__category {
  position: sticky;
  top: 0px;
  z-index: 3;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #ebebeb;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  padding: 0 16px;
}

.container .main__container .main__category h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .main__container .main__category .change__emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

/* 이모지 */
.container .main__container .main__category .main__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  margin-right: 30px;
}

.container .main__container .main__category .main__icon:last-child {
  margin-left: auto;
  margin-right: 0;
}

.container .main__container .main__category .main__icon::after {
  display: block;
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.2s;
}

.container .main__container .main__category .main__icon svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.container .main__container .main__category .main__icon:hover::after {
  background: #ececec;
}

/* 상단 닉네임 */
.container .main__container .main__category .userInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0;
}

.container .main__container .main__category .userInfo p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container .main__container .main__category .userInfo p:first-child {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.container .main__container .main__category .userInfo p:last-child {
  font-size: 13px;
  font-weight: 400;
  color: #536471;
}

/* 정보 없을 때 */
.container .main__container .noInfoBox {
  word-break: keep-all;
}

.container .main__container .noInfoBox .noInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin: 32px auto;
  padding: 0 32px;
  text-align: center;
}

.container .main__container .noInfoBox .noInfo img {
  margin: 16px 0 36px;
  width: 300px;
}

.container .main__container .noInfoBox .noInfo h2 {
  font-size: 31px !important;
  font-weight: 700;
  line-height: 36px;
  margin-bottom: 12px;
}

.container .main__container .noInfoBox .noInfo p {
  font-size: 15px;
  line-height: 18px;
  color: #536471;
}

@media screen and (max-width: 687px) {
  /* 상단 닉네임 */
  .container .main__container .main__category .userInfo p:first-child {
    font-size: 17px;
  }
}
