.container {
  flex: 0 1 auto;
  z-index: 2;
  position: sticky;
  top: 0;
  width: 350px;
  height: 100%;
  padding: 0 16px;
}

/* 검색창 */
.container .searchbox {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  margin-bottom: 12px;
}

.container .searchbox .search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  padding: 0 6px;
  background: #42806613;
  border-radius: 9999px;
  border: 1px solid transparent;
  transition: all 0.2s;
}

.container .searchbox .search__bar::placeholder {
  color: #9e9e9e;
  user-select: none;
}

.container .searchbox .search__focus {
  border: 1px solid #429170;
  background: #fff;
}

.container .searchbox .search__focus .search__bar::placeholder {
  opacity: 0.4;
  transition: all 0.2s;
}

.container .searchbox .search .search__focusIcon {
  color: #429170;
}

.container .search .search__icon {
  font-size: 20px;
  margin: 0 8px;
  color: #919191;
}

.container .searchbox .search__bar {
  caret-color: #429170;
  margin-left: 6px;
}

@media screen and (max-width: 987px) {
  .container {
    display: none;
  }
}
