.container {
  width: 100%;
  height: 100%;
  font-size: 15px;
}

.container .btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.container .btnBox:hover {
  background: #ececec;
}

.container .btnBox p {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: keep-all;
  padding: 0 6px;
  line-height: 18px;
}

.container .selectedBox {
  font-weight: 700;
}

.container .selectedBox::after {
  position: absolute;
  width: 50%;
  height: 4px;
  border-radius: 9999px;
  bottom: 0;
  content: "";
  display: block;
  background: #429170;
}

@media screen and (max-width: 500px) {
  .container.sizeContainer {
    width: auto;
    flex: 1 1 auto;
  }

  .container .btnBox p {
    font-size: 14px;
  }

  .container.sizeContainer .selectedBox::after {
    width: 50%;
  }
}
