.container {
  /* overflow: hidden; */
  border-radius: 16px;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
  box-sizing: border-box;
  outline: none;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.363);
  background: #fff;
}

/* Xë°” */
.topBox {
  z-index: 10;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  border-bottom: 1px solid #ebebeb;
  background-color: #fff;
  min-width: 600px;
  max-height: 90vh;
  border-radius: 16px 16px 0 0;
}

.topBox .close {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.topBox .close:hover {
  background-color: #0f141933;
}

.topBox .close svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.editInput__container {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 687px) {
  .container {
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 0;
  }

  .container .editForm {
    min-width: 100%;
  }
}
