.container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 240px;
  /* height: 100%; */
  z-index: 3;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px,
    rgb(101 119 134 / 15%) 0px 0px 3px 1px;
}

.container .btn {
  padding: 16px;
  display: flex;
  cursor: pointer;
}

.container .btn svg {
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.container .updateBtn {
}

.container .deleteBtn {
  color: red;
}

.container .updateBtn:hover,
.container .deleteBtn:hover {
  background: #ececec70;
}
