.nweet {
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 0 auto; */
  flex: 1 1 auto;
  color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #ebebeb;
}

.nweet:hover {
  background: #ececec70;
}

/* 트윗 내용 */
.nweet__container {
  width: 100%;
  display: flex;
  padding: 16px 16px 0;
}

.nweet__profile {
  margin-right: 12px;
  height: 100%;
}

/* 프로필 이미지 */
.profile__image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: contain;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s;
}

.profile__image:hover {
  filter: brightness(90%);
}

.userInfo {
  width: 100%;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userInfo .userInfo__name {
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 20px;
}

.userInfo .userInfo__name .userInfo__one p {
  font-size: 16px;
  font-weight: bold;
}

.userInfo .userInfo__name .userInfo__two {
  font-size: 15px;
  display: flex;
  color: #53716a;
  align-items: baseline;
}

.nweet__createdAt {
  font-size: 12px;
}

/* 텍스트 */
.nweet__text {
  font-size: 15px;
  padding: 0 16px;
  margin: 12px 0;
  width: 100%;
  height: auto;
  white-space: pre-wrap;
  line-height: 24px;
}

/* 이미지 */
.nweet__image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nweet__image img {
  width: 100%;
  height: 100%;
}

/* 수정 창 */
.nweet__editIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 20px;
  position: relative;
  transition: all 0.2s;
}

.horizontal__bg {
  border-radius: 50%;
  transition: all 0.2s;
  cursor: pointer;
  background: transparent;
}

.nweet__editIcon:hover .horizontal__bg {
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  background-color: rgba(51, 114, 88, 0.1);
}

.nweet__editIcon svg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* 트윗 액션 */
.nweet .nweet__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  overflow: hidden;
  padding: 16px;
}

.nweet .nweet__actions .actionBox {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* 트윗 액션 아이콘 */
.nweet .nweet__actions .actionBox .actions__icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nweet .nweet__actions .actionBox .actions__icon::after {
  display: block;
  content: "";
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  transition: all 0.2s;
}

.nweet .nweet__actions .actionBox:hover .actions__icon::after {
  background-color: #5cb69134;
}

.nweet .nweet__actions .actionBox .actions__icon svg {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #53716a;
}

/* 좋아요 */
.nweet .nweet__actions .actionBox:nth-child(3):hover .actions__icon::after {
  background-color: #f918801a;
}

.nweet .nweet__actions .actionBox:nth-child(3):hover,
.nweet .nweet__actions .actionBox:nth-child(3).like,
.nweet .nweet__actions .actionBox:nth-child(3).like:hover,
.nweet .nweet__actions .actionBox:nth-child(3).like .actions__icon svg {
  color: red;
}

/* 북마크 */
.nweet .nweet__actions .actionBox:nth-child(4).bookmark,
.nweet .nweet__actions .actionBox:nth-child(4).bookmark .actions__icon svg {
  color: #429170;
}

.nweet .nweet__actions .actionBox:hover {
  color: #429170;
}

/* 트윗 액션 숫자 */
.nweet .nweet__actions .actionBox .actions__text {
  max-width: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nweet .nweet__actions .actionBox p {
  padding: 0 12px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #53716a;
}

.nweet .nweet__actions .actionBox:nth-child(3) p {
  color: red;
}
