/* 팔로우 추천 */
.followBox {
  background: #42806613;
  border-radius: 16px;
  overflow: hidden;
  user-select: none;
  margin-top: 12px;
}

.followBox .followBox__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.followBox .followBox__name h2 {
  font-size: 18px;
  font-weight: bold;
}

/* 아이콘 */
.followBox .followBox__name .actions__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.followBox .followBox__name .actions__icon::after {
  display: block;
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  z-index: -1;
  transition: all 0.2s;
}

.followBox .followBox__name .actions__icon svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.followBox .followBox__name .actions__icon:hover::after {
  background: #e0ebe8;
}

/* 프로필 리스트 */
.followBox .follow__user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  cursor: pointer;
  transition: all 0.2s;
}

.followBox .follows .follow__user:hover,
.more:hover {
  background: #e0ebe8;
}

.followBox .follows .follow__user .follow__userInfo {
  display: flex;
}

.followBox .follows .follow__user .follow__image {
  width: 48px;
  height: 48px;
  margin-right: 12px;
  border-radius: 50%;
  object-fit: contain;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background: white;
}

.followBox .follows .follow__user .follow__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.followBox .follows .follow__user .follow__name p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.followBox .follows .follow__user .follow__name p:first-child {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 15px;
}

.followBox .follows .follow__user .follow__name p:last-child {
  font-size: 14px;
  color: #536471;
}

.followBox .follows .follow__user .follow__btn {
  min-width: 76px;
  min-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  background: #213025;
  font-size: 14px;
  color: #fff;
  padding-bottom: 2px;
}

.followBox .follows .follow__user .follow__btn:hover {
  background: #414d45;
}

/* 더 보기 */
.followBox .more {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 16px;
  font-size: 14px;
  cursor: pointer;
  color: #0099ff;
  transition: all 0.2s;
}
