/* 프로필 리스트 */
.followBox {
  margin-top: 53px;
}

.followBox .follow__user {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  cursor: pointer;
  transition: all 0.2s;
  border-bottom: 1px solid #ebebeb;
}

.followBox .follows .follow__user:hover,
.more:hover {
  background: #e0ebe8;
}

.follow__user .follow__userInfo {
  display: flex;
  align-items: center;
  height: 80px;
}

.follow__user .follow__image {
  width: 60px;
  height: 60px;
  margin-right: 12px;
  border-radius: 50%;
  object-fit: contain;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background: white;
}

.follow__user .follow__name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
}

.follow__user .follow__name p {
  font-size: 14px;
  width: 300px;
}

.follow__user .follow__name p:nth-child(1) {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.follow__user .follow__name p:nth-child(2) {
  font-size: 14px;
  color: #53716a;
}

.follow__user .follow__name p:nth-child(3) {
  margin-top: 2px;
  font-size: 12px;
}

/* 팔로우 버튼 기존 틀 */
.followBox .follows .follow__user .follow__btn {
  min-width: 76px;
  min-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  background: #213025;
  font-size: 14px;
  color: #fff;
}

.followBox .follows .follow__user .follow__btn:hover {
  background: #414d45;
}

/* 팔로우 버튼 */
.followBox .follows .follow__user .follow__btn.follow__btn {
  color: #fff;
  background-color: #213025;
  border: 1.5px solid #213025;
}

.followBox .follows .follow__user .follow__btn.follow__btn:hover {
  background-color: #414d45;
}

/* 팔로잉 버튼 */
.followBox .follows .follow__user .follow__btn.follow__btn.follow {
  background-color: white;
  color: #213025;
  border: 1.5px solid #c1dbd1;
}

.followBox .follows .follow__user .follow__btn.follow__btn.follow:hover {
  background: #ececec;
}

@media screen and (max-width: 500px) {
  .follow__user .follow__name p {
    width: auto;
  }
}
